:root {
    --bs-tertiary-bg-rgb: #ffc107 !important;
}

.bg-body-tertiary {
    background-color: var(--bs-tertiary-bg-rgb)!important;
}
.container-fluid{
    gap: 1em;
}

.row{
    margin:2em;
}

.titulo{
    margin-bottom: 3em;
}

.carousel{
    border: none;
    border-radius: 15px;
    overflow: hidden;
    height: 450px;
    width: auto;
    margin-bottom: 10%;
}

h2 {
    font-family: "Madimi One", sans-serif;
    font-weight: 300;
    font-style: normal;
  }

.subtitulo{
    margin-bottom: 2em;
}
  
.label-ingredients{
    background-color: rgb(255, 223, 181);
    text-align: center;
    margin: 0%;
}

.list-ingredients{
    margin-bottom: 3em;
    display: flex;
    background-color:rgb(250, 237, 219);
}

ul{
    list-style-type: none;
}

.img{
    background-color: rgba(0, 0, 0, 0.61) !important;
}

.icon{
    height: 8%;
    width: 8%;
    margin-right: 10px;
}

li{
    margin-bottom: 0.5em !important;
}

p{
    font-size: larger;
    font-weight: 500 !important;
    color:red !important;
}

.icon2{
    margin-left: 10%;
    height: 12%;
    width: 12%;
    margin-bottom: 4%;
}

.icon3{
    height: 40px;
    width: 40px;
    margin-left: 10px;
}

ol{
    margin-bottom: 2em !important;
}

.col-3{
    padding-top: 6em;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 3em;
    border-radius: 10px;
    border: solid rgb(235, 235, 235);
}

.logo{
    width: 40px;
    height: 30px;
    overflow: hidden;
}

.card:hover{
    transform: scale(1.1);
}

@media (max-width:360px) {

    :root {
        --bs-tertiary-bg-rgb: #ffc107 !important;
    }
    
    .bg-body-tertiary {
        background-color: var(--bs-tertiary-bg-rgb)!important;
    }
    .container-fluid{
        gap: 1em;
    }

    
    
    .row{
        margin:2em;
        max-width: 100vw;
    }
    
    .titulo{
        margin-bottom: 3em;
    }
    
    .carousel{
        border: none;
        border-radius: 15px;
        overflow: hidden;
        height: 450px;
        width: auto;
        margin-bottom: 10%;
    }
    
    h2 {
        font-family: "Madimi One", sans-serif;
        font-weight: 300;
        font-style: normal;
      }
    
    .subtitulo{
        margin-bottom: 2em;
    }
      
    .label-ingredients{
        background-color: rgb(255, 223, 181);
        text-align: center;
        margin: 0%;
    }
    
    .list-ingredients{
        margin-bottom: 3em;
        display: flex;
        background-color:rgb(250, 237, 219);
    }
    
    ul{
        list-style-type: none;
    }
    
    .img{
        background-color: rgba(0, 0, 0, 0.61) !important;
    }
    
    .icon{
        height: 8%;
        width: 8%;
        margin-right: 10px;
    }
    
    li{
        margin-bottom: 0.5em !important;
    }
    
    p{
        font-size: larger;
        font-weight: 500 !important;
        color:red !important;
    }
    
    .icon2{
        margin-left: 10%;
        height: 12%;
        width: 12%;
        margin-bottom: 4%;
    }
    
    .icon3{
        height: 40px;
        width: 40px;
        margin-left: 10px;
    }
    
    ol{
        margin-bottom: 2em !important;
    }
    
    .col-3{
        padding-top: 6em;
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 3em;
        border-radius: 10px;
        border: solid rgb(235, 235, 235);
    }
    
    .logo{
        width: 40px;
        height: 30px;
        overflow: hidden;
    }
    
}







